{% extends 'base.html.twig' %}

{% block title %}Edit Pub{% endblock %}

{% block body %}
    <h1>Edit Pub</h1>

    {{ include('musician/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('musician_list') }}">back to list</a>


{% endblock %}